@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?jrlbtt');
    src:  url('../fonts/icomoon.eot?jrlbtt#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?jrlbtt') format('truetype'),
      url('../fonts/icomoon.woff?jrlbtt') format('woff'),
      url('../fonts/icomoon.svg?jrlbtt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-goodlife_logo-01 .path1:before {
    content: "\e900";
    color: rgb(177, 181, 108);
  }
  .icon-goodlife_logo-01 .path2:before {
    content: "\e901";
    margin-left: -1.5986328125em;
    color: rgb(207, 195, 138);
  }
  .icon-goodlife_logo-01 .path3:before {
    content: "\e902";
    margin-left: -1.5986328125em;
    color: rgb(177, 181, 108);
  }
  .icon-goodlife_logo-01 .path4:before {
    content: "\e903";
    margin-left: -1.5986328125em;
    color: rgb(177, 181, 108);
  }
  .icon-goodlife_logo-01 .path5:before {
    content: "\e904";
    margin-left: -1.5986328125em;
    color: rgb(177, 181, 108);
  }
  .icon-goodlife_logo-01 .path6:before {
    content: "\e905";
    margin-left: -1.5986328125em;
    color: rgb(177, 181, 108);
  }
  .icon-goodlife_logo-01 .path7:before {
    content: "\e906";
    margin-left: -1.5986328125em;
    color: rgb(118, 100, 93);
  }
  .icon-goodlife_logo-01 .path8:before {
    content: "\e907";
    margin-left: -1.5986328125em;
    color: rgb(118, 100, 93);
  }
  .icon-goodlife_logo-01 .path9:before {
    content: "\e908";
    margin-left: -1.5986328125em;
    color: rgb(118, 100, 93);
  }
  .icon-goodlife_logo-01 .path10:before {
    content: "\e909";
    margin-left: -1.5986328125em;
    color: rgb(207, 195, 138);
  }
  .icon-goodlife_logo-01 .path11:before {
    content: "\e90a";
    margin-left: -1.5986328125em;
    color: rgb(118, 100, 93);
  }
  .icon-goodlife_logo-01 .path12:before {
    content: "\e90b";
    margin-left: -1.5986328125em;
    color: rgb(118, 100, 93);
  }
  