/* Responsive - Start */

@media (min-width: 320px) and (max-width: 766px) {

    /* Fonts - Start */

        /* Sizing - Start */
        h1{ font-size:4.2rem; line-height:5.2rem; } /* 42px */
        h2{ font-size:3.4rem; line-height:4.4rem; } /* 34px */
        h3{ font-size:2.6rem; line-height:3.6rem; } /* 26px */
        h3 small{ font-size:2.2rem; line-height:3.2rem; } /* 16px */
        h4,i{ font-size:2.4rem; line-height:3.4rem; } /* 24px */
        h5{ font-size:2.2rem; line-height:3.2rem; } /* 22px */
        p, li, a, button, label, input, td, th{ font-size:1.8rem; line-height:2.8rem; } /* 18px */
        small{ font-size:1.2rem; line-height:2.2rem; } /* 12px */
        /* Sizing - End */

    /* Fonts - End */

    /* Button - Start */
    .btn{
        font-size:2.2rem;
        padding:0 10px;
    }
    /* Button - End */

    /* Form - Start */
    .form div.control-group .message{
        font-size:1.8rem !important;
        line-height:2.8rem;
    }
    /* .form div.control-group button.btn{
        padding:5px 0;
    } */
    /* Form - End */

    /* Box - Start */

        /* Box Header - Start */
        .box .box-header h3.leaf-left::before{
            width:28px;
            height:21px;
            left:-5%;
            background-image:url('../img/icon_leaf_left.png');
        }
        .box .box-header h3.leaf-left::after{
            width:20px;
            height:3px;
            right:0;
            background-image:url('../img/icon_dash.png');
        }
        .box .box-header h3.leaf-right::before{
            width:20px;
            height:3px;
            left:0;
            background-image:url('../img/icon_dash.png');
        }
        .box .box-header h3.leaf-right::after{
            width:28px;
            height:21px;
            right:-5%;
            background-image:url('../img/icon_leaf_right.png');
        }
        /* Box Header - End */

    /* Box - End */

    /* Pagination - Start */
    .pagination ul li.number{
        display:none;
    }
    /* Pagination - End */

    /* Slick - Start */
    .slick-prev{
        left:-10px;
    }
    .slick-next{
        right:-10px;
    }
    .slick-prev:before, .slick-next:before{
        color:#000;
    }
    /* Slick - End */
    
    /* Default stylesheet - Start */
    #logo{
        padding:0;
    }
    section{
        display:flex;
    }
    /* Default stylesheet - End */

    /* Header - Start */
    header{
        padding:15px 0;
        z-index:1;
    }
    header #logo a{
        font-size:4.2rem;
    }
    header .form button#btnSearch i{
        font-size:3.6rem;
    }
    /* header #button{
        padding:0 !important;
    } */
    header #button a{
        margin:0 5px;
    }
    header #button a#btnSignin{
        margin-right:5px;
    }
    header #button a#btnSearch,    
    header #button a#btnCart{
        line-height:inherit;
    }
    header #button .navbar-toggler{
        padding:0;
    }
    /* Header - End */

    /* Navigation - Start */
    nav.navbar{
        width:50%;
        position:absolute !important;
        top:70px;
        right:0;
        z-index:1 !important;
        padding:0 !important;
    }
    nav.navbar .navbar-collapse .container{
        background-color: rgba(39, 151, 77, 0.9) !important;
        
    }
    nav.navbar .navbar-collapse .container .navbar-nav .nav-item{
        margin:10px 0 0 0;
    }
    nav.navbar .navbar-collapse .container .navbar-nav .nav-item a i,
    nav.navbar .navbar-collapse .container .navbar-nav .nav-item a p{
        color:#fff !important;
    }
    nav.navbar .navbar-collapse .container .navbar-nav .nav-item a i{
        font-size:5.4rem;
    }
    nav.navbar .navbar-collapse .container .navbar-nav .nav-item a p{
        font-size:2.2rem;
    }
    nav.navbar .navbar-collapse .container .navbar-nav .nav-item .dropdown-toggle::after{
        color:#fff;
    }
    nav.navbar .navbar-collapse .container .navbar-nav .nav-item .dropdown-menu{
        margin-top:-15px;
        margin-bottom:15px;
    }
    nav.navbar .navbar-collapse .container .navbar-nav .nav-item .dropdown-menu .dropdown-item{
        text-align:center;
    }
    /* Navigation - End */

    /* Banner - Start */
    section#banner{
        min-height:auto;
        margin:0;
    }
    section#banner .wrapper{
        margin:0;
    }
    section#banner .slick .slick-slide{
        margin:0;
        padding:0 0 45px 0;
    }
    section#banner .slick .slick-slide a img.box-shadow{
        box-shadow:none;
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
    }
    section#banner .slick .slick-dots{
        bottom:20px;
    }
    section#banner .slick .slick-dots li{
        margin:0 5px;
    }
    /* Banner - End */

    /* Footer - Start */
    footer #btnToTop-wrapper{
        display:none;
    }
    footer #footer-logo{
        margin-top:-2px;
        padding:0 10px !important;
    }
    footer p label,
    footer p span{
        padding:5px 0 !important;
    }
    footer #copyright-claims{
        margin-top:0;
    }
    footer #footer-navigation{
        margin:30px 0;
    }
    footer #footer-navigation p a{
        font-size:2.6rem;
    }
    /* Footer - End */

    /* Body - Start */
    section#body{
        margin-top:0;
        margin-bottom:0;
    }
    section#body .container{
        padding:60px 15px;
    }
    section#body.with--banner{
        margin-top:-100px;
    }

        /* Default stylesheet for inner page - Start */
        html[class^="member_"] nav,
        html[class^="product_"] nav,
        html[class^="order_"] nav,
        html[class^="contact_"] nav{
            background:none;
            padding-top:0;
            padding-bottom:60px;
        }
        html[class^="member_"] section#body,
        html[class^="product_"] section#body,
        html[class^="order_"] section#body,
        html[class^="contact_"] section#body,
        html[class^="auth_"] section#body{
            z-index:0;
        }
        section#body[class^="member-"] #mobile-sidebar{
            padding:15px;
        }
        section#body[class^="member-"] #mobile-sidebar i{
            font-size:1.8rem;
            margin:0 5px;
        }
        section#body[class^="member-"] #mobile-sidebar i:first-child{
            margin-left:0;
        }
        section#body[class^="member-"] #mobile-sidebar ul{
            width:60%;
            position:absolute;
            top:50px;
            z-index:1;
            display:none;
        }
        section#body[class^="member-"] #mobile-sidebar ul.active{
            display:block;
        }
        section#body[class^="member-"] #mobile-sidebar ul li{
            padding-left:15px;
        }
        /* Default stylesheet for inner page - End */

        /* Page [member/points] & [member/pointinfo] - Start */
        section#body[class^="member-"] #pointFilterForm div.control-group .input-wrapper{
            margin:15px 0;
        }
        html.member_points section#body form#pointFilterForm .control-group #sortDate{
            text-align:center;
        }
        html.member_points section#body table{
            min-width:300px;
        }
        html.member_pointinfo section#body table{
            min-width:300px;
        }
        /* Page [member/points] & [member/pointinfo] - End */

        /* Page [member/history] & [member/historyinfo] - Start */
        section#body[class^="member-"] #historyFilterForm div.control-group .input-wrapper{
            margin:15px 0;
        }
        html.member_history section#body table{
            min-width:380px;
        }
        html.member_historyinfo section#body table{
            min-width:300px;
        }
        /* Page [member/history] & [member/historyinfo] - End */

        /* Page [product/info] - Start */
        html.product_info section#body #info{
            margin-top:30px;
        }
        html.product_info section#body #image #preview .slick-prev{
            left:5px;
        }
        html.product_info section#body #image #preview .slick-next{
            right:5px;
        }
        html.product_info section#body #image #thumbnails .items,
        html.product_info section#body #recommended .items{
            padding-left:0;
            padding-right:0;
        }
        html.product_info section#body #image #thumbnails .items{
            margin:0 5px;
        }
        /* Page [product/info] - End */

        /* Page [order/index] - Start */
        html.order_index section#body table.table{
            min-width:470px;
        }
        /* Page [order/index] - End */

        /* Page [order/summary] - Start */
        html.order_summary section#body table.table{
            min-width:470px;
        }
        /* Page [order/summary] - End */

    /* Body - End */

}
@media (min-width: 767px) and (max-width: 991px) {
	
}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 1200px) and (max-width: 1679px) {
	section#body.with--banner{
        margin-top:-8%;
    }
}
@media (min-width: 1680px) {

}

	/* iPad Landscape - Start */
	@media (min-width: 992px) and (max-width: 1025px) {

	}
	/* iPad Landscape - End */

/* Responsive - End */

/* Fix text alignment - Start */
@media (min-width: 320px) and (max-width: 766px) {
	.text-xs-left { text-align: left; }
	.text-xs-right { text-align: right; }
	.text-xs-center { text-align: center; }
    .text-xs-justify { text-align: justify; }
    .nopadding-xs{ padding:0 !important; }
}

@media (min-width: 767px) {
 	.text-sm-left { text-align: left; }
 	.text-sm-right { text-align: right; }
 	.text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
    .nopadding-sm{ padding:0 !important } 
}

@media (min-width: 992px) {
 	.text-md-left { text-align: left; }
 	.text-md-right { text-align: right; }
 	.text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
    .nopadding-md{ padding:0 !important } 
}

@media (min-width: 1200px) {
 	.text-lg-left { text-align: left; }
 	.text-lg-right { text-align: right; }
 	.text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
    .nopadding-lg{ padding:0 !important; } 
}
/* Fix text alignment - End */