@charset "utf-8";
/* CSS Document */
/* Developed and copyright by Supawee "Bom" Ippoodom */

/* Reset - Start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td 
                  {margin: 0;padding: 0;border: 0;outline: 0;
                  font-size: 100%;vertical-align: baseline;
                  background: transparent;}
body              {line-height: 1;}
ol, ul            {list-style: none;}
blockquote, q     {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';	content: none;}
:focus            {outline: 0;}
ins               {text-decoration: none;}
del               {text-decoration: line-through;}
table             {border-collapse: collapse;border-spacing: 0;}
/* Reset - End */

*{ margin:0 0; padding:0 0; }
a, a:hover, a:active, a:visited{ text-decoration:none; cursor:pointer; }
a img{ border:none; }
.noinnertext{ font-size:0; line-height:0; overflow:hidden; text-indent:-999em; text-decoration:none; }
.no-background{ background:none !important; }
.al-l{ text-align:left; }
.al-c{ text-align:center; }
.al-r{ text-align:right; }
.bold{ font-weight:normal; font-weight:400; }
.italic{ font-style:italic; }
.underline{ text-decoration:underline; }
.img-fullwidth{ max-width:100%; }
.img-maxwidth{ width:100%; }
.nopadding{ padding:0; }

/* Fonts - Start */
p, li, a, button, label, input, td{ font-family:'pslDisplayRegular'; }
h1,h2,h3,h4,h5,b,strong,th{ font-weight:normal; font-family:'pslDisplayBold'; }
.f-displayRegular{ font-family:'pslDisplayRegular'; }
.f-displayBold{ font-family:'pslDisplayBold'; }
.f-displayItalic{ font-family:'pslDisplayItalic'; }

    /* Sizing - Start */
    html{ font-size:52.5%; }
    h1{ font-size:5rem; line-height:6rem; } /* 60px */
    h2{ font-size:4.8rem; line-height:5.8rem; } /* 52px */
    h3{ font-size:4.4rem; line-height:5.4rem; } /* 44px */
    h3 .small, h3 small{ font-size:3rem; line-height:4rem; } /* 30px */
    h4{ font-size:3.6rem; line-height:4.6rem; } /* 36px */
    h5,i{ font-size:3rem; line-height:4rem; } /* 30px */
    p, li, a, button, label, input, td, th{ font-size:2.2rem; line-height:3.2rem; } /* 22px */
    .small{ font-size:1.6rem; line-height:2.6rem; } /* 16px */
    /* Sizing - End */

/* Fonts - End */

/* Color Identity - Start */
.c-white{ color:#FFF !important; }
.c-black{ color:#000 !important; }
.c-green{ color:#27974d !important; }
.c-lightgreen{ color:#b0ce34 !important; }
.c-red{ color:#e83632 !important; }
.c-brown{ color:#6b5953 !important; }
.c-gold{ color:#c8ba80 !important; }
/* Color Identity - End */

/* Background - Start */
.bg-black{ background-color:#000; }
.bg-white{ background-color:#FFF; }
.bg-green{ background-color:#27974d; }
.bg-lightgreen{ background-color:#b0ce34; }
.bg-red{ background-color:#e83632; }
.bg-brown{ background-color:#6b5953; }
.bg-gold{ background-color:#c8ba80; }
/* Background - End */

/* Border - Start */
.noborder{ border:none !important; }
.custom-border{ border:1px solid; }
.custom-border-top{ border-top:1px solid; }
.custom-border-right{ border-right:1px solid; }
.custom-border-bottom{ border-bottom:1px solid; }
.custom-border-left{ border-left:1px solid; }

	/* Border Size - Start */
	.custom-border-2px{ border-width:2px; }
	.custom-border-3px{ border-width:3px; }
	.custom-border-4px{ border-width:4px; }
	.custom-border-5px{ border-width:5px; }
	.custom-border-6px{ border-width:6px; }
	.custom-border-7px{ border-width:7px; }
	.custom-border-8px{ border-width:8px; }
	.custom-border-9px{ border-width:9px; }
	.custom-border-10px{ border-width:10px; }
	/* Border Size - End */
	
	/* Border Color - Start */
	.custom-border-black{ border-color:#000; }
    .custom-border-white{ border-color:#FFF; }
    .custom-border-green{ border-color:#27974d; }
    .custom-border-lightgreen{ border-color:#b0ce34; }
    .custom-border-lightgrey{ border-color:#cccccc; }
    .custom-border-red{ border-color:#e83632; }
    .custom-border-brown{ border-color:#6b5953; }
    .custom-border-gold{ border-color:#c8ba80; }
	/* Border Color - End */
	
/* Border - End */

/* Button - Start */
.btn{
    padding:0 30px;
    font-size:2.2rem;
    border:none;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    transition:.2s color linear, .2s background-color linear;
    -webkit-transition:.2s color linear, .2s background-color linear;
    -moz-transition:.2s color linear, .2s background-color linear;;
    -o-transition:.2s color linear, .2s background-color linear;
}
.btn-wide{
    padding:10px 60px;
}
.btn-f-medium{
    font-size:2.6rem;
}
.btn-f-small{
    font-size:2rem;
}

    /* Color Button - Start */
    .btn-green{
        background-color:#27974d;
        color:#fff !important;
    }

    .btn-lightgreen{
        background-color:#b0ce34;
        color:#fff !important;
    }

    .btn-brown{
        background-color:#6b5953;
        color:#fff !important;
    }

    .btn-red{
        background-color:#e83632;
        color:#fff !important;
    }
    /* Color Button - End */

/* Button - End */

/* Form - Start */
.form div.control-group{
    margin-top:15px;
    margin-bottom:15px;
    padding-left:15px;
    padding-right:15px;
}
.form div.control-group .control-label{
	width:100%;
	float:left;
	display:block;
	margin-bottom:10px;
	font-size:2rem;
	line-height:24px;
}
.form div.control-group .control-label.remark{
	font-size:1.8rem;
	line-height:22px;
	margin-top:5px;
}
.form div.control-group .checkbox-label{
	font-size:2rem;
	line-height:24px;
	display:inline-block;
}
.form div.control-group .checkbox-label input[type="checkbox"]{
	margin-right:5px;
}
.form div.control-group input[type="text"],
.form div.control-group input[type="email"],
.form div.control-group input[type="tel"],
.form div.control-group input[type="password"],
.form div.control-group textarea{
	width:100%;
	font-size:2rem;
	line-height:24px;
	padding:5px 10px;
}
.form div.control-group textarea{
	resize:none;
}
.form div.control-group.custom-selectbox{
    position:relative;
}
.form div.control-group.custom-selectbox select{
    width:100%;
    height:100%;
    max-height:38px;
    display:inline-block;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    padding:0 15px;
    background:none;
    font-size:2rem;
    position:relative;
    cursor:pointer;
    z-index:1;
}
.form div.control-group.custom-selectbox i{
    position:absolute;
    bottom:11px;
    right:30px;
    z-index:0;
}
.form div.control-group button.btn{
	padding:2px 15px;
}
.form div.control-group a{
	transition:.2s color linear;
	-webkit-transition:.2s color linear;
	-moz-transition:.2s color linear;
	-o-transition:.2s color linear;
	color:#555;
}
.form div.control-group a:hover{
	color:#ff1221;
}
.form div.control-group a.underline:hover{
    text-decoration:underline;
}
.form div.control-group button.btn.btn-wide{
	padding:15px 30px;
}
.form div.control-group.button-group button.btn{
    margin:0 15px;
}
.form div.control-group button.btn.border-radius{
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}

    /* Disabled Form - Start */
    .form div.control-group label.disabled{
        color:#e9e9e9;
    }
    .form div.control-group input[disabled],
    .form div.control-group select[disabled]{
        color:#333;
        background-color:#e9e9e9;
        border:1px solid #cccccc !important;
    }
    .form div.control-group.custom-selectbox i.disabled{
        color:#e9e9e9;
    }
    /* Disabled Form - End */

    /* Error Message - Start */
    .form div.control-group.message-wrapper{
        margin:0;
        margin-top:-15px;
    }
    .form div.control-group .message{
        font-size:2rem !important;
        padding-left:10px;
    }
    .form div.control-group .message.error{
        color:#ff0000;
    }
    /* Error Message - End */

/* Form - End */

/* Message Box - Start */
.messageBox{
    padding:15px 30px;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -o-border-radius:15px;
    margin-bottom:15px;
    font-size:2rem;
}
.messageBox.c-red{
    background-color:#ffd2ce;
}
.messageBox.c-orange{
    background-color:#fff6d4;
}
.messageBox.c-green{
    background-color:#b8ffda;
}
/* Message Box - End */

/* Box Shadow - Start */
.box-shadow{
    -webkit-box-shadow: 0px 10px 24px 0.18px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 10px 24px 0.18px rgba(0,0,0,0.21);
    box-shadow: 0px 10px 24px 0.18px rgba(0,0,0,0.21);
}
/* Box Shadow - End */

/* Box - Start */
.box{
    margin:30px 0;
    padding:30px 15px;
}

    /* Box Header - Start */
    .box .box-header{
        margin-bottom:30px;
        position:relative;
    }
    .box .box-header h3{
        padding:0 30px;
        position:relative;
    }
    .box .box-header h3::before,
    .box .box-header h3::after{
        content:' ';
        position:absolute;
        bottom:calc( 50% - 2px );
        background-position:center center;
        background-repeat:no-repeat;
        background-size:100% auto;
    }
    .box .box-header h3.leaf-left::before{
        width:42px;
        height:28px;
        left:-14%;
        background-image:url('../img/icon_leaf_left.png');
    }
    .box .box-header h3.leaf-left::after{
        width:29px;
        height:4px;
        right:-14%;
        background-image:url('../img/icon_dash.png');
    }
    .box .box-header h3.leaf-right::before{
        width:29px;
        height:4px;
        left:-14%;
        background-image:url('../img/icon_dash.png');
    }
    .box .box-header h3.leaf-right::after{
        width:42px;
        height:28px;
        right:-12%;
        background-image:url('../img/icon_leaf_right.png');
    }
    .box .box-header .button-wrapper{
        position:absolute;
        top:calc( 50% - 21px );
        right:0;
    }
    /* Box Header - End */

    /* Box Items - Start */
    .box .box-item{
        padding-bottom:15px;
        margin-bottom:30px;
    }
    .box .box-item a{
        float:left;
        display:block;
        position:relative;
    }
    /* Box Items - End */

/* Box - End */

/* Pagination - Start */
.pagination{
    margin-top:30px;
    margin-bottom:30px;
}
.pagination li a{
    color:#333;
    transition:.2s color linear;
    -webkit-transition:.2s color linear;
    -moz-transition:.2s color linear;
    -o-transition:.2s color linear;
}
.pagination li.active a,
.pagination li:hover a{
    color:#86a951;
}
/* Pagination - End */

/* Table - Start */
.table-wrapper{
    position:relative;
}
.table{
    max-width:100%;
}
.table td, .table th{
    padding-left:0;
    padding-right:0;
}
.table .thead-light th{
    background-color:#27974d;
    color:#fff;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color:#f2ffe0;
}
table tbody tr td .btn{
    padding:2px 15px;
    font-size:2rem;
}
/* Table - End */

/* DateRangePicker - Start */
.datepicker,
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td,
.daterangepicker select.monthselect,
.daterangepicker select.yearselect,
.daterangepicker .drp-buttons .btn{
    font-size:2.2rem;
    line-height:3.2rem;
}
.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker .btn-primary,
.daterangepicker .btn-primary:hover{
    background-color:#86a951 !important;
}
.daterangepicker td.in-range{
    background-color:#f1ffe1;
}
/* DateRangePicker - End */

/* Default stylesheet - Start */
#logo a{
    font-size:7.2rem;
}
#footer-logo{
    font-size:16rem;
}
.nopadding{
    padding:0 !important;
}
/* Default stylesheet - End */

/* Header - Start */
header{
    padding:15px;
}
header .form div.control-group input[type="text"],
#searchModal .form div.control-group input[type="text"]{
    padding-right:45px;
}
header .form button#btnSearch,
#searchModal .form button#btnSearch{
    position:absolute;
    top:calc( 50% - 10px );
    right:25px;
    padding:0;
    background:none;
    font-size:0;
}
header .form button#btnSearch i,
#searchModal .form button#btnSearch i{
    font-size:2rem;
}
header #button a{
    margin:0 15px;
}
header #button a:first-child:hover{
    color:#86a951;
}
header #button a:last-child,
header #button a#btnSignin{
    margin-right:0;
}
#searchModal .modal-header .close i{
    font-size:3.4rem;
}
/* Header - End */

/* Navigation - Start */
nav.navbar{
    padding:0 15px;
}
nav .nav-item{
    margin:0 30px;
}
nav .nav-item i{
    font-size:4rem;
    margin-bottom:10px;
}
nav .nav-item p{
    line-height:2.2rem;
}
nav .dropdown-toggle::after{
    font-size:2.2rem;
    color:#86a951;
    margin-left:0;
}
nav .dropdown-menu .dropdown-item{
    font-size:2rem;
    transition:.2s color linear, .2s background-color linear;
    -webkit-transition:.2s color linear, .2s background-color linear;
    -moz-transition:.2s color linear, .2s background-color linear;
    -o-transition:.2s color linear, .2s background-color linear;
}
nav .dropdown-menu .dropdown-item:hover{
    color:#fff !important;
    background-color:#27974e;
}

#nav-icon3{
	width: 30px;
	height: 21px;
	display:inline-block;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	z-index:2;
	position:relative;
}
#nav-icon3.font-awesome{
	font-size:28px;
}

#nav-icon3 span{
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: #27974d;
	border-radius: 0;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
	top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
	top: 9px;
}

#nav-icon3 span:nth-child(4) {
	top: 18px;
}

#nav-icon3.open span{
	background:#c09853;
}
#nav-icon3.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

#nav-icon3.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}
/* Navigation - End */

/* Banner - Start */
section#banner{
    background-image:url('../img/banner_bg.jpg');
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    min-height:590px;
    margin-top:-91px;
}
section#banner .wrapper{
    width:100%;
    float:left;
    display:block;
    margin-top:120px;
    position:relative;
}
section#banner .slick .slick-slide{
    margin:0 50px;
    padding:25px 0 80px 0;
}
section#banner .slick .slick-slide a{
    float:left;
    display:block;
    padding:30px;
    transition:.2s all ease;
}
section#banner .slick .slick-slide.slick-center a{
    transform: scale(1.5);
}
section#banner .slick .slick-arrow{
    z-index:9;
}
section#banner .slick .slick-prev:before,
section#banner .slick .slick-next:before{
    font-size:3.8rem;
    color:#a1a29f;
}
section#banner .slick .slick-arrow.slick-prev{
    left:50px;
}
section#banner .slick .slick-arrow.slick-next{
    right:50px;
}
section#banner .slick .slick-dots{
    bottom:0;
}
section#banner .slick .slick-dots li,
section#banner .slick .slick-dots li button,
section#banner .slick .slick-dots li button:before{
    width:18px !important;
    height:18px !important;
}
section#banner .slick .slick-dots li{
    margin:0 15px;
}
section#banner .slick .slick-dots li button{
    border:4px solid #deeace;
    padding:0;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
}
section#banner .slick .slick-dots li button:before{
    font-size:14px !important;
    line-height:18px !important;
    top:1px;
}
section#banner .slick .slick-dots li.slick-active button{
    border-color:#8a967b;
}
section#banner .slick .slick-dots li.slick-active button:before{
    color:#fff;
}
/* Banner - End */

/* Footer - Start */
footer #btnToTop-wrapper{
    height:0;
}
footer #btnToTop{
    position:relative;
    top:-37px;
}
footer i[data-fa-transform="rotate-45"]{
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    font-size:1.4em;
}
footer i.fa-angle-double-up{
    font-size:3rem;
}
footer #footer-logo{
    margin-top:-2px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
footer #copyright-claims{
    margin:30px 0;
}
footer a.c-lightgreen{
    transition:.2s color linear;
    -webkit-transition:.2s color linear;
    -moz-transition:.2s color linear;
    -o-transition:.2s color linear;
}
footer a.c-lightgreen:hover{
    color:#b8ffda;
}
footer #footer-navigation{
    margin-top:45px;
}
footer #footer-navigation p a{
    font-size:2.2rem;
}
/* Footer - End */

/* Body - Start */
section#body{
    margin-top:-22px;
    margin-bottom:60px;
}
section#body.with--banner{
    margin-top:-3%;
}
section#body .container{
    background-image:url('../img/body_background.jpg');
    background-position:top center;
    background-repeat:no-repeat;
    background-size:cover;
    padding:60px 30px;
}

section#body .container .box .box-item a{
    background-position:center 50px;
    background-repeat:no-repeat;
    background-size:100% auto;
}
section#body .container .box .box-item a h1{
    line-height:5rem;
}
section#body .container .box .box-item a h3{
    line-height:4.4rem;
}
section#body .container .box.box-1 .box-item a{
    background-image:url('../img/product_thumbnail_bg.jpg');
}
section#body .container .box.box-1 .box-item a h1{
    margin-top:-2rem;
}
section#body .container .box.box-1 .box-item a h3{
    margin-bottom:2rem;
}
section#body .container .box.box-2 .box-item a div{
    line-height:0;
}
section#body .container .box.box-2 .box-item a div.col-6:nth-child(2){
    background-image:url('../img/privilege_thumbnail_bg.jpg');
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:100% 100%;
}

    /* Page [auth/index] - Start */

    /* Page [auth/index] - End */

    /* Default stylesheet for inner page - Start */
    html[class^="member_"] header,
    html[class^="product_"] header,
    html[class^="order_"] header,
    html[class^="contact_"] header,
    html[class^="auth_"] header{
        background: rgba(255,255,255,1);
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(250,250,250,1) 65%, rgba(250,250,250,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(42%, rgba(255,255,255,1)), color-stop(65%, rgba(250,250,250,1)), color-stop(100%, rgba(250,250,250,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(250,250,250,1) 65%, rgba(250,250,250,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(250,250,250,1) 65%, rgba(250,250,250,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(250,250,250,1) 65%, rgba(250,250,250,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(250,250,250,1) 65%, rgba(250,250,250,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa', GradientType=0 );
    }
    html[class^="member_"] nav,
    html[class^="product_"] nav,
    html[class^="order_"] nav,
    html[class^="contact_"] nav,
    html[class^="auth_"] nav{
        background-image:url('../img/banner_bg.jpg');
        background-repeat:no-repeat;
        background-position:center top;
        background-size:100% auto;
        padding-bottom:90px;
        position:relative;
        z-index:0;
    }
    html[class^="member_"] nav .container,
    html[class^="product_"] nav .container,
    html[class^="order_"] nav .container,
    html[class^="contact_"] nav .container,
    html[class^="auth_"] nav .container{
        padding:15px;
    }
    html[class^="member_"] section#body,
    html[class^="product_"] section#body,
    html[class^="order_"] section#body,
    html[class^="contact_"] section#body,
    html[class^="auth_"] section#body{
        position:relative;
        z-index:1;
    }
    html[class^="member_"] section#body .container,
    html[class^="product_"] section#body .container,
    html[class^="order_"] section#body .container,
    html[class^="contact_"] section#body .container,
    html[class^="auth_"] section#body .container{
        background-image:none;
        background-color:#fff;
        padding-top:15px;
    }
    html[class^="member_"] section#body .container .box,
    html[class^="product_"] section#body .container .box,
    html[class^="order_"] section#body .container .box,
    html[class^="contact_"] section#body .container .box,
    html[class^="auth_"] section#body .container .box{
        background-image:url('../img/body_background.jpg');
    }
    html[class^="member_"] section#body .container .box{
        padding-top:30px;
        margin-top:0;
        margin-bottom:0;
    }
    html[class^="member_"] section#body .container .box .box-header,
    html[class^="product_"] section#body .container .box .box-header,
    html[class^="order_"] section#body .container .box .box-header,
    html[class^="contact_"] section#body .container .box .box-header,
    html[class^="auth_"] section#body .container .box .box-header{
        margin-bottom:0;
    }
    section#body[class^="member-"] #sidebar{
        padding-right:30px;
    }
    section#body[class^="member-"] #sidebar .wrapper{
        background-color: rgba(154, 192, 99, 0.5); 
        color: rgba(154, 192, 99, 0.5);
        padding-top:30px;
        height:100%;
    }
    section#body[class^="member-"] #sidebar ul li{
        text-align:center;
        background-color:#27974d;
        margin:15px 0;
        padding:5px 0;
        transition:.2s background-color linear;
        -webkit-transition:.2s background-color linear;
        -moz-transition:.2s background-color linear;
        -o-transition:.2s background-color linear;
    }
    section#body[class^="member-"] #sidebar ul li a{
        width:100%;
        display:inline-block;
        font-size:3.0rem;
    }
    section#body[class^="member-"] #sidebar ul li:hover{
        background-color:#b0ce34;
    }
    /* section#body[class^="member-"] .box,
    section#body[class^="product-"] .box,
    section#body[class^="order-"] .box,
    section#body[class^="contact-"] .box{
        margin:0;
        padding-top:30px;
        padding-bottom:30px;
        background-image:url('../img/body_background.jpg');
        background-repeat:no-repeat;
        background-position:center top;
        background-size:cover;
    } */
    /* Default stylesheet for inner page - End */

    /* Page [member/index] - Start */
    html.member_index section#body #sidebar ul li:nth-child(1),
    html.member_index section#body #mobile-sidebar ul li:nth-child(1){
        background-color:#b0ce34;
    }
    html.member_index section#body #profileForm{
        margin-bottom:60px;
    }
    /* Page [member/index] - End */

    /* Page [member/points] & [member/pointinfo] - Start */
    html.member_points section#body #sidebar ul li:nth-child(2),
    html.member_pointinfo section#body #sidebar ul li:nth-child(2),
    html.member_points section#body #mobile-sidebar ul li:nth-child(2),
    html.member_pointinfo section#body #mobile-sidebar ul li:nth-child(2){
        background-color:#b0ce34;
    }
    html.member_points section#body form#pointFilterForm .control-group{
        padding:0;
    }
    html.member_points section#body form#pointFilterForm .control-group .control-label{
        margin:0;
        font-size:2.6rem;
        width:120px;
    }
    html.member_points section#body form#pointFilterForm .control-group .input-wrapper{
        width:40%;
        position:relative;
    }
    html.member_points section#body form#pointFilterForm .control-group .input-wrapper i{
        font-size:1.6rem;
        position:absolute;
        top:calc( 50% - 0.8rem );
        right:15px;
    }
    html.member_points section#body form#pointFilterForm .control-group #sortDate{
        width:100%;
    }
    html.member_points section#body form#pointFilterForm .control-group .btn{
        padding:0 30px;
    }
    html.member_points section#body table{
        max-width:100%;
    }
    html.member_points section#body table th:nth-child(1){
        width:40px;
    }
    html.member_points section#body table th:nth-child(2){
        width:80px;
    }
    html.member_points section#body table th:nth-child(3){
        width:40px;
    }
    html.member_points section#body table th:nth-child(4){
        width:80px;
    }
    html.member_pointinfo section#body h3{
        line-height:4.4rem;
    }
    html.member_pointinfo section#body table{
        max-width:80%;
        background-color:#fff;
    }
    /* html.member_pointinfo section#body table td.space{
        padding:0;
        line-height:20px;
    } */
    html.member_pointinfo section#body table td{
        padding-top:.25rem;
        padding-bottom:.25rem;
    }
    html.member_pointinfo section#body table td:nth-child(1){
        width:100px;
    }
    html.member_pointinfo section#body table td:nth-child(2){
        width:80px;
    }
    html.member_pointinfo section#body table td:nth-child(3){
        width:80px;
    }
    /* Page [member/points] & [member/pointinfo] - End */

    /* Page [member/history] & [member/historyinfo] - Start */
    html.member_history section#body #sidebar ul li:nth-child(3),
    html.member_historyinfo section#body #sidebar ul li:nth-child(3),
    html.member_history section#body #mobile-sidebar ul li:nth-child(3),
    html.member_historyinfo section#body #mobile-sidebar ul li:nth-child(3){
        background-color:#b0ce34;
    }
    html.member_history section#body form#historyFilterForm .control-group{
        padding:0;
    }
    html.member_history section#body form#historyFilterForm .control-group .control-label{
        margin:0;
        font-size:2.6rem;
        width:120px;
    }
    html.member_history section#body form#historyFilterForm .control-group .input-wrapper{
        width:40%;
        position:relative;
    }
    html.member_history section#body form#historyFilterForm .control-group .input-wrapper i{
        font-size:1.6rem;
        position:absolute;
        top:calc( 50% - 0.8rem );
        right:15px;
    }
    html.member_history section#body form#historyFilterForm .control-group #sortDate{
        width:100%;
    }
    html.member_history section#body form#historyFilterForm .control-group .btn{
        padding:0 30px;
    }
    html.member_history section#body table{
        max-width:100%;
    }
    html.member_history section#body table th:nth-child(1){
        width:50px;
    }
    html.member_history section#body table th:nth-child(2){
        width:150px;
    }
    html.member_history section#body table th:nth-child(3){
        width:80px;
    }
    html.member_history section#body table th:nth-child(4){
        width:150px;
    }
    html.member_history section#body table th:nth-child(5){
        width:100px;
    }
    html.member_historyinfo section#body table{
        max-width:100%;
        background-color:#fff;
    }
    html.member_historyinfo section#body table td{
        padding-top:.25rem;
        padding-bottom:.25rem;
    }
    html.member_historyinfo section#body table td:nth-child(1){
        width:100px;
    }
    html.member_historyinfo section#body table td:nth-child(2){
        width:80px;
    }
    html.member_historyinfo section#body table td:nth-child(3){
        width:80px;
    }
    /* Page [member/history] & [member/historyinfo] - End */

    /* Page [product/index] - Start */
    html.product_index section#body .wrapper .items{
        margin-top:15px;
        margin-bottom:15px;
    }
    html.product_index section#body .wrapper .items p,
    html.product_index section#body .wrapper .items h5,
    html.product_index section#body .wrapper .items div:nth-child(2){
        margin-top:5px;
        margin-bottom:5px;
    }
    /* Page [product/index] - End */

    /* Page [product/info] - Start */
    html.product_info section#body #image #preview img{
        margin-top:30px;
        margin-bottom:30px;
    }
    html.product_info section#body #image #preview .slick-arrow::before{
        color:#86a951;
    }
    html.product_info section#body #image #preview .slick-prev{
        left:15px;
    }
    html.product_info section#body #image #preview .slick-next{
        right:15px;
    }
    html.product_info section#body #image #thumbnails{
        margin-top:30px;
    }
    html.product_info section#body #image #thumbnails .slick-arrow::before{
        color:#86a951;
    }
    html.product_info section#body #image #thumbnails .slick-prev{
        left:15px;
    }
    html.product_info section#body #image #thumbnails .slick-next{
        right:15px;
    }
    html.product_info section#body #image #thumbnails .items{
        margin:0 15px;
        opacity:0;
        -webkit-opacity:0;
        -moz-opacity:0;
        -o-opacity:0;
        transition:.2s opacity linear;
        -webkit-transition:.2s -webkit-opacity linear;
        -moz-transition:.2s -moz-opacity linear;
        -o-opacity:.2s -o-opacity linear;
    }
    html.product_info section#body #image #thumbnails .items a{
        border-color:#eaffcc;
        transition:.2s border-color linear;
        -webkit-transition:.2s border-color linear;
        -moz-transition:.2s border-color linear;
        -o-transition:.2s border-color linear;
    }
    html.product_info section#body #image #thumbnails .items.slick-active{
        opacity:1;
        -webkit-opacity:1;
        -moz-opacity:1;
        -o-opacity:1;
    }
    html.product_info section#body #image #thumbnails .items.slick-current a{
        border-color:#b0ce34;
    }
    html.product_info section#body #image #thumbnails .items a img{
        margin-top:15px;
        margin-bottom:15px;
    }
    html.product_info section#body #recommended{
        padding:15px;
        background-color: rgba(154, 192, 99, 0.7);
    }
    html.product_info section#body #recommended .items a img{
        margin-top:15px;
        margin-bottom:15px;
    }
    /* Page [product/info] - End */

    /* Page [order/index] - Start */
    html.order_index section#body table.table{
        border-left:2px solid #8fb858;
        border-right:2px solid #8fb858;
    }
    html.order_index section#body table.table th,
    html.order_index section#body table.table td{
        border:none;
    }
    html.order_index section#body table.table td img{
        padding-top:5px;
        padding-bottom:5px;
    }
    html.order_index section#body table.table th:nth-child(1){
        width:80px;
    }
    html.order_index section#body table.table th:nth-child(2){
        width:150px;
    }
    html.order_index section#body table.table th:nth-child(3){
        width:100px;
    }
    html.order_index section#body table.table th:nth-child(4){
        width:80px;
    }
    html.order_index section#body table.table th:nth-child(5){
        width:100px;
    }
    html.order_index section#body table.table th:nth-child(6){
        width:150px;
    }
    /* Page [order/index] - End */

    /* Page [order/summary] - Start */
    html.order_summary section#body table.table{
        border-left:2px solid #8fb858;
        border-right:2px solid #8fb858;
    }
    html.order_summary section#body table.table th,
    html.order_summary section#body table.table td{
        border:none;
    }
    html.order_summary section#body table.table td img{
        padding-top:5px;
        padding-bottom:5px;
    }
    html.order_summary section#body #control-button a{
        margin:0 15px;
    }
    html.order_summary section#body #control-button a:last-child{
        margin-right:0;
    }
    html.order_summary section#body table.table th:nth-child(1){
        width:80px;
    }
    html.order_summary section#body table.table th:nth-child(2){
        width:150px;
    }
    html.order_summary section#body table.table th:nth-child(3){
        width:100px;
    }
    html.order_summary section#body table.table th:nth-child(4){
        width:80px;
    }
    html.order_summary section#body table.table th:nth-child(5){
        width:100px;
    }
    html.order_summary section#body table.table th:nth-child(6){
        width:150px;
    }
    /* Page [order/summary] - End */

    /* Page [order/thankyou] - Start */
    html.order_thankyou .box{
        min-height:35vh;
    }
    /* Page [order/thankyou] - End */

    /* Page [contact/index] - Start */
    html.contact_index section#body .box-header{
        margin-top:30px;
        margin-bottom:30px;
    }
    html.contact_index section#body .items{
        margin-top:30px;
        margin-bottom:30px;
    }
    /* Page [contact/index] - End */

/* Body - End */